<div class="container">
  <div class="title">
    <h1>Seja Bem vindo</h1>
  </div>
  <br>
  <div clasd="text">
    <h2>Este é um projeto de um game pokemon, utilizando a <a href="https://pokeapi.co/">PokeApi</a> que contem uma batalha pokemon, foi utilizado apenas para forma de estudo, 
    então caso encontre um erro ou uma forma de melhora-lo, pode entrar pelo <a href="https://github.com/AlexandreDev06/pokemon">GitHub</a> para comentar.
    Fique a vontade para utilizar o projeto como quiser ;)
    </h2>
  </div>
</div>