/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 :root {
  --primary-color: #F08429;
  --secondary-color: #207395;
  --third-color: #084152;
  --fourth-color: #ffd510;
  --fourth-color: #626262;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'DotGothic16', sans-serif;
}

body {
  overflow-x: hidden;
}

.col-md-2,
.col-md-10 {
  margin: 0;
  padding: 0;
}

.btn-secondary {
  background-color: var(--third-color);
  color: white;
}


/*SIDEBAR*/

#sidebar-wrapper,
.navbar,
.list-group-item-action {
  background-color: var(--primary-color);
  color: white;
}

#sidebar-wrapper {
  padding-left: 15px;
  min-height: 100vh;
  height: 100;
  margin-left: 0;
  border-right: 1px solid black;
}

.navbar {
  border-bottom: 1px solid black;
}


/* TELAS */

.index-poke {
  background-image: url("../assets/bg_poke.png");
  background-position: center;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

.index-poke hr {
  border: 2px solid black
}

.bg-card {
  background-image: url("../assets/bg_card2.png");
  background-size: 100%;
  border-radius: 12px;
}


/* login */

.login-page-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  color: black;
}

.box {
  width: 400px;
  height: 100%;
  background: #fff;
  margin-bottom: 50px;
}

.bg-pokemon {
  background-image: url("../assets/bgpokemons.jpg");
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
}

/* HOME INDEX */
.text-creator {
  margin-top: 46%;
  font-style: italic;
}

/* BATALHA */

.pokemon-in-battle {
  background-image: url("../assets/grama_pokemon_battle.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.buttons-battle {
  background-color: var(--third-color);
  align-items: center;
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-color: chocolate;
  border-width: 10px;
}

.btn-pokemon {
  background-color: #E7E5C6;
  width: 500px;
  height: 80px;
  border-style: solid;
  border-color: var(--primary-color);
  border-width: 5px;
}

/* POKEMONS */

.pokemon1 {
  animation: 0.4s linear 0s both alternate attack;
  transform: scaleX(-1);
}

.pokemon2 {
  animation: 0.4s linear 0.5s both alternate hit;
}

.stats-pokemon {
  background-color: #E7E5C6;
  height: 90px;
}

.stats-pokemon label {
  margin-left: 12px;
}

/* ANIMAÇÃO DE HIT */
@keyframes hit {
  0% {margin-left: 0px;}
  20% {margin-left: -25px}
  40% {margin-left: 25px}
  60% {margin-left: -25px}
  80% {margin-left: 25px}
  100% {margin-left: 0px}
}

@keyframes attack {
  0% {margin-left: 0px}
  60% {margin-left: -25px}
  80% {margin-left: 25px}
  100% {margin-left: 0px}
}

/* BOOTSTRAP PERSONALIZADO */

.ms-6 {margin-left: 6rem;}
.ms-7 {margin-left: 7rem;}
.ms-8 {margin-left: 8rem;}
.ms-9 {margin-left: 9rem;}