/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 :root {
  --primary-color: #F08429;
  --secondary-color: #207395;
  --third-color: #084152;
  --fourth-color: #ffd510;
  --fourth-color: #626262;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'DotGothic16', sans-serif;
}

body {
  overflow-x: hidden;
}

.btn {
   background-color: var(--third-color);
   color: white;
}
/*SIDEBAR*/

#sidebar-wrapper,
.navbar,
.list-group-item-action {
  background-color: var(--primary-color);
  color: white;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0;
  border-right: 1px solid black;
}

.navbar {
  border-bottom: 1px solid black;
}